<div class="page">
    <div class="form-container">
        <form [formGroup]="userForm">
            <mat-form-field class ="form-field">
                <input matInput placeholder="Prénom" formControlName="firstName"
                    class="form-control" />
            </mat-form-field> <br>
            <mat-form-field class ="form-field">
                <input matInput placeholder="Nom" formControlName="lastName"
                    class="form-control" />
            </mat-form-field> <br>
            <mat-form-field class ="form-field">
                    <input matInput placeholder="Pays" formControlName="country"
                        class="form-control" />
                </mat-form-field> <br>
                <mat-form-field class ="form-field">
                    <input matInput placeholder="Numéro de téléphone" formControlName="phoneNumber"
                        class="form-control" />
                </mat-form-field> <br>
                <mat-form-field class ="form-field">
                <input matInput placeholder="E-mail" formControlName="mailAddress"
                    class="form-control" />
            </mat-form-field> <br>
            <mat-form-field class ="form-field">
                <input matInput placeholder="Nom d'utilisateur" formControlName="username"
                    class="form-control" />
            </mat-form-field> <br>
            <mat-form-field class ="form-field">
                <input matInput type="password" placeholder="Mot de passe" formControlName="password"
                    class="form-control" />
            </mat-form-field> <br>
            <mat-form-field class ="form-field">
                <input matInput type="password" placeholder="Vérification" formControlName="passwordVerify"
                    class="form-control" />
            </mat-form-field> <br>
        </form>
    </div>
</div>

