/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    display:flex;
    align-content: center;
    flex-direction: row;
    margin-top : 80px;
}

.form-gauche {
    display:inline-flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 100px
}
.form-droite {
    display:inline-flex;
    flex-direction: column;
    align-content: center;
    align-self: flex-start;

}

.submit-button {
    display: flex;
    justify-content: center;
}
